---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex">
		<h1 class="text-xl">Productos de <strong>costura</strong> hechos a <strong>mano</strong></h1>
	</main>
</Layout>
